%link{href: "#{File.join(root_url, 'assets/stylesheets', 'widgets.css')}", rel: "stylesheet", type: "text/css"}
%script{src: "#{File.join(root_url, 'assets/javascripts','widget.js')}", type: "text/javascript"}

%h1.alert.alert-danger you