%link{href: "#{File.join(root_url, 'assets', 'widgets.css')}", rel: "stylesheet", type: "text/css"}
%script{src: "#{File.join(root_url, 'assets','widget.js')}", type: "text/javascript"}

.search-index
  = render "flight_form"

  %ul#search-results

= render "flight_template"