<script id="flight-template" type="text/x-handlebars-template">
  <li class="ticket">
    <p>{{Adult}}</p>
    <p>{{Child}}</p>
    <p>{{Departport}}</p>
    <p>{{Arriveport}}</p>
    <p>{{Duration}}</p>
  </li>
</script>