//Import bootstrap-sprockets
@import "bootstrap-sprockets"

// Import theme variables
@import "bootswatch/simplex/variables"

// Bootstrap
@import "bootstrap"

// Bootswatch style
@import "bootswatch/simplex/bootswatch"

//font-awesome
@import "font-awesome"

.search-index
  width: 80%
  label
    font-weight: bold
    padding-bottom: .5em
  .form-group
    margin-right: .5em
  #from, #to  
    width: 25%
  #adult, #children
    width: auto